# #CTRL + ; para descomentar tudo



# # Para MySQL 
# # Se quiser desenvolver localmente colocar esta url no DATABASE"mysql://root:@localhost:3306/storage"
# DATABASE_URL=mysql://adminsmrtstg:commitEpico97@smart-storage-db.cehgs2k4wk6h.us-east-1.rds.amazonaws.com:3306/smart-storage #(para conectar com o mysql do xampp)
# JWT_SECRET= #nao esqueca que, se voce for mexer com token, digite qualquer coisa aqui
# NODE_ENV=development

# --------------------------------
# # Para Chat de Ajuda
# OPENAI_API_KEY= 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
# --------------------------------

# #MongoDB URL

# DATABASE_URL_2="mongodb://localhost:27017"  # // nao usar o banco de produçao para projetos/testes locais
# MONGO_DB_NAME="smartstorage1"


# #Para Email
# #talvez precise tambem instalar o nodemailer com este codigo: npm intall nodemailer
# #Defina o Email_User e Email_Pass com o email e senha do email que você quer usar para enviar os emails
# #Exemplo
# EMAIL_USER=smartstorage21@gmail.com
# GMAIL_CLIENT_ID=SEU_CLIENT_ID
# GMAIL_CLIENT_SECRET=SEU_CLIENT_SECRET
# GMAIL_REFRESH_TOKEN=SEU_REFRESH_TOKEN



# #esse codigo é um exemplo de como configurar as variáveis de ambiente 
