# Para MySQL 
# DATABASE_URL="mysql://usuario:senha@localhost:3306/nome_do_banco" (para conectar com o mysql do xampp)
# JWT_SECRET=AQUI DEVE TER SUA SENHA PARA O TOKEN
# NODE_ENV=development


#esse codigo é um exemplo de como configurar as variáveis de ambiente 