# Este é um exemplo de arquivo .env para configuração do projeto.

# ----prisma--------------------------------------
# Preencha o seu arquivo .ENV (Não é esse arquivo) com a URL de conexão do seu banco

# Para PostgreSQL 
# DATABASE_URL="postgresql://usuario:senha@localhost:5432/nome_do_banco?schema=public"

# Para MySQL 
# DATABASE_URL="mysql://usuario:senha@localhost:3306/nome_do_banco"

#--------------------------------------------------